<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DELC</title>
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" /-->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/ui-grid.css" />
    <link rel="stylesheet" href="css/app.css" />
    <style>
        .modal-content {
            width: 200%;
        }
    </style>
</head>

<body ng-app="delcApp">
    <!--
    http://plnkr.co/edit/dUGbvnmc089C9rnKFh4f?p=preview
    http://plnkr.co/edit/dEjtDx8gjoCTkZndNFa9?p=preview-->
    <nav class="navbar navbar-inverse" ng-controller="NavBarController">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript:;" style="cursor:context-menu;"><img src="images/logo.png" alt="DELC"></a>
            </div>

            <div class="navbar-collapse" ng-class="{collapse: isCollapsed}">
                <div ng-if="showUserInfoInNavBar">
                    <ul class="nav navbar-nav navbar-right" id="navUserInfo">
                        <li class="userName"><span style="color:#fff;"> Welcome <br /> {{user.name}}</span></li>
                        <li class="dropdown" ng-class="{ open : dd1 }" ng-init="dd1 = false" ng-click="dd1 = !dd1">
                            <a href="javascript:;" class="dropdown-toggle" dropdown-toggle role="button" aria-expanded="false"><img src="images/user.png" alt="" /></a>
                            <ul class="dropdown-menu" role="menu" id="profileDropDownMenu">
                                <li><a ui-sref="dashboard">Profile</a></li>
                                <li><a ui-sref="logout" ng-click="Logout()">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-center" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>

	<main>
    <div class="row navigationLinks">
        <div class="col-lg-12">
            <ul class="pull-left">
                <li ng-class="{active: $state.includes('serviceRequests')}">
                    <a ui-sref="serviceRequests">Service Requests</a>
                </li>
                <li ng-class="{active: $state.includes('offlineRequest')}">
                    <a ui-sref="offlineRequest">Create Offline Request</a>
                </li>
                <li ng-class="{active: $state.includes('technicians')}">
                    <a ui-sref="technicians">Technicians</a>
                </li>                
                <li ng-class="{active: $state.includes('technicianPerformance')}">
                    <a ui-sref="technicianPerformance">Technicians Performance</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container mainViewContainer">
        <div ui-view></div>
    </div>

    

    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Do you want to save changes you made to document before closing?</p>
                    <p class="text-warning"><small>If you don't save, your changes will be lost.</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
	</main>
	<div>
	<footer class="page-footer font-small blue pt-4" style="bottom: 0;">
	<div style="margin-bottom:1px;">
        <span>&copy; 2017, Powered by Circle Square Technologies Pvt. Ltd</span>
		</div>
    </footer>
	</div>

    <!--script src="lib/jquery-3.1.1.min.js"></script-->

      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-desktop-notification.js"></script>
    <script src="lib/angular-ui-bootstrap-tpls.min.js"></script>
    <script src="lib/angular-ui-router.min.js"></script>
    <script src="lib/angular-cookies.js"></script>
    <script src="lib/angular-touch.js"></script>
    <script src="lib/angular-animate.js"></script>
    <script src="lib/angular-ui-grid.min.js"></script>
    <script src="lib/FileReader.js"></script>
    <script src="lib/angular-pubsub.js"></script>
    <script src="lib/FlashService.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script src="lib/underscore.string.min.js"></script>

    <script src="app/RoleService.js"></script>
    <script src="app/AuthenticationService.js"></script> <!-- https://github.com/cornflourblue/angular-registration-login-example -->
    <script src="app/UserService.js"></script>
    <script src="app/SerReqService.js"></script>
    <script src="app/CustomerService.js"></script>     
    <script src="app/TechniciansService.js"></script>
    <script src="app/ConfigServiceProvider.js"></script>

    <script src="app/NavBarController.js"></script>
    <script src="app/OfflineRequestController.js"></script>
    <script src="app/UserDashboardController.js"></script>
    <script src="app/LoginController.js"></script>
    <script src="app/RegisterController.js"></script>
    <script src="app/GetQuotationModalController.js"></script>
    <script src="app/ServiceAssignModalController.js"></script>
    <script src="app/ServiceRequestsController.js"></script>    
    <script src="app/TechniciansController.js"></script>
    <script src="app/NewTechnicianModalController.js"></script>
    <script src="app/app.js"></script>
</body>
</html>